$navbar-background: #41B883;
$emphasis-text-color: #35495E;

body {
}
.navbar {
    border-radius: 0;
    background: $navbar-background !important;
}
a {
    color: $emphasis-text-color;
}
a:hover {
    text-decoration: none;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.controls-card {
    > h4 {
        padding: 16px;
        font-weight: normal;
    }

    > section {
        padding-left: 24px; /* aligns with expansion panels */
        padding-right: 24px;
    }
    +.controls-card {
        margin-top: 20px;
    }
}